/* The Part is for the Header */
.header {
  background-color: #668284;
  border-radius: 10px;
  text-align: center;
  width: 98%;  
}

.header p {
  color: #ffffff;
  font-size: 30px;
  font-family: Verdana;	
}

.header ul {
  color: #ffffff;
  font-size: 15px;
  font-family: Verdana;
  list-style-type: none;
  margin-top: -30px;
  padding: 10px;
}

.header li {
  display: inline; 
  padding: 0px 10px 0px 10px;
}

.header a {
  color: #ffffff
}


/* The Part is Me and My Expereince*/
.content img {
  border-radius: 50%;
  margin-top: 30px;
  width: 68%;
}

.left {
  background-color: #B9D7D9;
  border-radius: 10px;
  border: 2px solid black;
  float: left;
  height: 500px;
  text-align: center;
  width: 48%;
}

.right {
  background-color: #F4EBC3;
  border-radius: 10px;
  border: 2px solid black;
  float: left;
  height: 500px;
  overflow: auto;
  width: 49.5%;
}

.right p {
  color: black;
  font-size: 12px;
  font-family: Verdana;	
  padding: 10px;
  text-indent: 15px;
}

.right h3 {
  font-family: Verdana;
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: -20px;
}

.expereince ul {
  margin-top: -20px;
  font-size: 13px;
}

.contact ul {
  color: black;
  font-size: 12px;
  font-family: Verdana;
  list-style-type: none; 
  margin-top: -20px;
  text-align: center;
}

.contact li { 
  display: inline;
  padding: 10px;
}

.contact a {
  color: black;
}




/* The Part Is for My Family and Friends*/
.family {
  background-color: #F4BA70;
  border-radius: 10px;
  border: 2px solid black;
  clear: both;
  height: 700px;
  position: relative;
  top: 10px;
  width: 98%; 
}
.family h1 {
  padding: 0px 0px 10px 35px;
  font-size: 35px;
  font-family: Verdana;
}

.fambam {
  float: left;
  font-family: Verdana;
  font-size: 18px;
  padding-bottom: 30px;
  text-align: center;
  width: 32.5%;    
}

.fambam img {
  border-radius: 50%;
}



/* The Part Is for Image Carsoel/Hobbies */
.rotate { 
  border-radius: 10px;
  border: 2px solid black;
  clear: both;
  float: left;
  height: 450px;
  position: relative;
  text-align: center;
  top: 30px;
  width: 58%;   
}


.fadein img { 
 position: absolute;
 width: 100%;
 height:450px;
 border-radius: 10px;
}

.hobbies {
  background-color: #F4EBC3;
  border-radius: 10px;
  border: 2px solid black;
  float: left;
  height: 450px;
  overflow: auto;
  position: relative;
  top: 30px;
  width: 40%;
}

.hobbies ul {
  color: black;
  font-size: 12px;
  font-family: Verdana;
}

.fun h4 { 
  font-family: Verdana;
  font-size: 25px;
  margin-top: 30px; 
  margin-bottom: 18px;
}

.hobbies li {
  font-family: Verdana;
  font-size: 18px;
  margin-left: 50px;
  padding: 5px;
}

/* The Part is just for the website to have an end */
.footer {
  background-color: #668284;
  border-radius: 10px;
  border: 2px solid black;
  clear: both;
  height: 140px;
  position:relative;
  top: 40px;
  width: 99%;
}